<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/simple-datatables.css')}}"
    />
    <link
      href="{{ url_for('static', filename='css/styles.css')}}"
      rel="stylesheet"
    />
    <script src="{{ url_for('static', filename='js/font-awesome.js')}}"></script>
    <title>JomiPass Dashboard - Welcome homs!</title>
  </head>
  <body class="sb-nav-fixed">
    {% include '/partials/navbar.html' %}
    <div id="layoutSidenav">
      <div id="layoutSidenav_content">
        {% include '/partials/sidenav.html' %}
        <main>
          <div class="container-fluid px-4">
            {% block content %}{% endblock %}
          </div>
        </main>
        {% include '/partials/footer.html' %}
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/Chart.js')}}"></script>
    <script src="{{ url_for('static', filename='js/simple-datatables.js')}}"></script>
  </body>
</html>
